/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.3%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.caption {
    text-align: center;
}
